body {
    background-color: #2e2e2e;
    max-height: 100%;
}

#button {
    position: fixed;
    right: 30px;
    top: 0px;
    background-color: #2e2e2e;
    border: solid 1px goldenrod;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-size: 1.5em;   
    outline: none; 
}

#button:hover {
    background-color: goldenrod;
}

#luminaria {
    position: fixed;
    right: 0px;
    top: 50px;
    width: 40%;
    max-height: 500px;
}

#change {
    width: 70%;
    max-height: 400px;
    margin-top: 100px;
}